body {
  font-family: 'Roboto Slab', serif;
  background-color: black;
}

#background {

  width: 100%;
  height: 100%;

  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/90/Lake_Champlain_1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;

  color:white;
}

#bottomleft {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

#title{
  position: fixed;
  right: 20px;
  top: 20px;
  font-size:30;
}
#weather{
  position: fixed;
  right: 20px;
  top: 20px;
  font-size:2em;
}

#weathertable{
  color:white;
  width:40%;
  position:fixed;
  right:20;
  top:70;
}
#bottomright {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#news {
  position: fixed;
  right: 20px;
  bottom: 50px;
  width:40%;
}
